<div class='container-fluid'> 
    <div class='col-sm-10 body-content'>
        <h1>Cadastro</h1>
        <form #registerForm="ngForm" (ngSubmit)="Cadastro()">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="nome" class="form-control" id="nome" name="nome" required  [(ngModel)]="model.nome">
            </div>    
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
</div>
